/* debug */
/* main {
    background-color: red;
} */

/* .card{
    background-color: blue;
} */

/* footer {
    height: 50px;
    background-color: blueviolet;
} */
/* /debug */


/* common */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Nerko One', cursive;
}

main, footer {
    width: 60%;
    margin: 0 auto;
}

.card {
    width: 23%;
    height: 170px;
    border-radius: 10px;
    margin: 2% 2% 0 0;
    float: left;
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-color: white;
    text-align: center;
}

.text {
    position: absolute;
    bottom: 5px;
    font-size: 25px;
    width: 100%;
}

.card:hover {
    background-size: 80%;
    background-position: 60% 30%;
    background-repeat: no-repeat;
    position: relative;
}

.card:hover .title {
    display: block;
}

.title {  
    display: none;
}

#tractor:hover {
    background-image: url(../img/noun_Tractor_3134797.png);
    color: rgb(245, 179, 57);
}


/* contenitore principale */

.container {
    width: 70%;
    margin: 0 auto;
    background-color: #ADD8E6;
}

h1 {
    padding: 20px 0;
    font-size: 70px;
    text-transform: uppercase;
    text-align:center;
    color: white;
}

/* main */

main::after {
    content: "";
    display: table;
    clear: both;
}

.sixth {
    background-image: url(../img/noun_air_balloon_3134741.png);
    background-size: 80%;
    background-position: 60% 30%;
    background-repeat: no-repeat;
    position: relative;
    color: #E61986;
}

.third:hover {
    background-image: url(../img/noun_Tram_3134750.png);
    color: rgb(247, 155, 122);
}

.fourth:hover {
    background-image: url(../img/noun_Submarine_3134738.png);
    color: rgb(83, 83, 235);
}

.fifth:hover {
    background-image: url(../img/noun_Cruise_Ship_3134824.png);
    color: rgb(180, 107, 231);
}


.eighth:hover {
    background-image:url(../img/noun_Bicycle_3134821.png);
    color: rgb(147, 236, 13);
}

/* footer */

footer {
    margin-top: 20px;
    text-align: center;
}






