/* debug */
/* main {
    background-color: red;
} */

/* .card{
    background-color: blue;
} */

/* footer {
    height: 50px;
    background-color: blueviolet;
} */
/* /debug */


/* common */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Nerko One', cursive;
}

main, footer {
    width: 60%;
    margin: 0 auto;
}

.card {
    width: 23%;
    height: 170px;
    border-radius: 10px;
    margin: 2% 2% 0 0;
    float: left;
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-color: white;
}



/* contenitore principale */

.container {
    width: 70%;
    height: 1000px;
    margin: 0 auto;
    background-color: #ADD8E6;
}

h1 {
    padding: 20px 0;
    font-size: 70px;
    text-transform: uppercase;
    text-align:center;
    color: white;
}

/* main */

main::after {
    content: "";
    display: table;
    clear: both;
}

.sixth {
    background-image: url(../img/noun_air_balloon_3134741.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.text {
    position: absolute;
    bottom: 5px;
    left: 20px;
    font-size: 25px;
    color: #E61986;
}
/* footer */

footer {
    margin-top: 20px;
    text-align: center;
}
